
html { 
   
}
body{
  height: 100%;
  width: 100%;
  overflow: scroll;
  margin:0;
  padding: 0;
  background-color: #e9ecef !important;
  overflow-y:scroll;
}

#entorno{
  padding:5px;
  border-bottom: 3px solid green;
  position:relative;
  height:60%;
  display:block;
}

#particula{
  width: 8px;
  height: 8px;
  border-radius: 5px;
  border: solid black 1px;
  background-color: red;
  position:absolute;
  z-index: 1000;
  bottom:0px;
  margin-bottom: -5px;
  margin-left: -5px;
}

temp{
  bottom: 0px; /*INDICA POSICION EN Y*/
  left: 0px; /*INDICA POSICION EN X*/

}

#contenedor {
    display: block;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 100%;
    margin-left:20px;
}


.info{
  display:inline-block;
  width:45%;
  text-align: right;
}

.info input{
  float:right;
}

.sector-grid{
  width: 10px;
  height: 10px;
  border: dotted black 1px;
  display:inline-block;
  border-collapse: collapse;
}

.axis {
    position: absolute;
    display: inline-block;
    left: 0px;
    padding: 0px;
    width:30px;
    list-style: none;
}

.axis.izq{
  bottom:0px;
}

.axis.izq > li{
  margin:80px 0px;
  text-align: center;
}

.axis.inf{
  width:2000px;
  height:30px;
  margin:0 25px;
}

.axis.inf span {
    width: 16px !important;
    text-align: center;
    margin-left: 85px;
    display: inline-block;
}

#acciones{
  display:inline-block;
  position:relative;
  float:top;
}

.buttonActualizar {
  margin-right: 1em;
}

.plano{
  background-color: white;
}